<%
users = []
users << Core.user if Core.user.has_auth?(:manager)
users += Core.site.managers.where(state: 'enabled') if Zomeki.config.application["sys.recognizers_include_admin"]
users += Core.user_group.users.where(state: 'enabled').reject { |user| user == Core.user }
users.uniq!

recognizers = users.select { |u| u.id.in?(item.in_recognizer_ids) }

opts1 = (users - recognizers).map { |u| [u.name_with_account, u.id] }
opts2 = recognizers.map { |u| [u.name_with_account, u.id] }
%>

<table class="show">
  <tr>
    <th>承認者 <span class="note">※</span></th>
    <td>
      <table class="noDesign">
        <tr>
          <td>
            <%= select_tag 'recognizer_candidates', options_for_select(opts1), multiple: true, style: "width: 240px; height: 140px;" %>
          </td>
          <td>
            <input type="button" value="追加 →" id="add_recognizers" /><br /><br />
            <input type="button" value="← 除外" id="remove_recognizers" />
          </td>
          <td>
            <div class="<%= 'field_with_errors' if @item.errors.messages.include?(:recognizers) %>">
              <%= f.select :in_recognizer_ids, options_for_select(opts2), {}, multiple: true, style: "width: 240px; height: 140px;" %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<script>
$(function() {
  $('form').simpleMultiSelect({
    source: '#recognizer_candidates',
    destination: '#item_in_recognizer_ids',
    add: '#add_recognizers',
    remove: '#remove_recognizers'
  });
});
</script>
