<%
inline_id = if item.new_record?
              item.in_tmp_id ||= Util::Sequencer.next_id(:tmp, md5: true)
            else
              "#{item.class}-#{item.id}"
            end
return if inline_id.blank?
%>
<%= f.hidden_field :in_tmp_id if item.new_record? %>

<p class="form">添付ファイル</p>

<table class="show">
  <tr><td>
    <a href="#" onclick="$(this).toggleOpen('#inlineFiles'); return false;">開く▼</a>
  </td></tr>
</table>

<div id="inlineFiles" style="display: none;">
<iframe src="<%= sys_inline_files_path(inline_id, content: content) %>" style="width: 100%; height: 400px;" frameborder="0"></iframe>
</div>
