<%- if (schedule = Sys::Reorg::Schedule.in_site(Core.site).first) && schedule.state == 'reserved' -%>
  <div class="notice">組織変更が予約されています。現在のグループ・ユーザーを変更する場合は組織変更情報との整合性を確認してください。</div>
<%- end -%>

<div class="crudTree">
<div class="tree">
  <%- if @root -%>
  <p>
    <%= link_to :show, { action: :show, parent: @root.parent_id.to_i, id: @root } %>
    <%= @root.name %>
  </p>
  <%- end -%>
  <div class="links">
    <%= render 'groups', groups: @groups, parent: nil %>
  </div>
</div>

<div class="content">
<%= render 'users', users: @users if @parent %>
</div>

<div class="footer"></div>
</div>

<script type="text/javascript">
$(function() {
  $('.tree .links').simpleTree();
});
</script>
