<div id="doc_style_calendar_tags" title="置き換えテキスト" style="display: none;">
  <table>
    <tr>
      <th>タイトル（リンクなし）</th><td>@title@</td>
    </tr>
    <tr>
      <th>タイトル（リンクあり）</th><td>@title_link@</td>
    </tr>
    <tr>
      <th>カテゴリ</th><td>@category@</td>
    </tr>
  </table>
</div>
