<%
opts1, opts2 = Sys::RoleName.where(site_id: Core.site.id).order(:name)
                              .partition { |c| !item.role_name_ids.include?(c.id) }
opts1 = opts1.map { |c| [c.title, c.id] }
opts2 = opts2.map { |c| [c.title, c.id] }
%>
<br />

<table class="noDesign">
  <tr>
    <td>
      <%= select_tag 'role_name_candidates', options_for_select(opts1), multiple: true, style: "width: 240px; height: 140px;" %>
    </td>
    <td>
      <input type="button" value="追加 →" id="add_role_names" /><br /><br />
      <input type="button" value="← 除外" id="remove_role_names" />
    </td>
    <td>
      <div class="<%= 'field_with_errors' if @item.errors['ロール権限'].size > 0 %>">
        <%= f.select :role_name_ids, options_for_select(opts2), {}, multiple: true, style: "width: 240px; height: 140px;" %>
      </div>
    </td>
  </tr>
</table>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('form').simpleMultiSelect({
    source: '#role_name_candidates',
    destination: '#item_role_name_ids',
    add: '#add_role_names',
    remove: '#remove_role_names'
  });
});
//]]>
</script>
