<%
all_group = item.editable_groups.any?(&:all_group?)
groups = item.editable_groups.map(&:group).compact
%>

<p class="form">編集権限</p>

<table class="show">
  <tr>
    <th>編集可能グループ</th>
    <td>
      <%- if item.editable_groups.present? -%>
        <%- if all_group -%>
          <span>すべてのグループ</span>
        <%- else -%>
          <% groups.each do |group| %>
            <%= group.full_name %><br />
          <%- end -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
</table>
