<ul id="simple_tabs">
  <li>本日</li>
  <li>明日</li>
</ul>
<div id="simple_tab_panels">
  <div>
    <%- unless @todays_events.empty? -%>
    <ul>
      <%- @todays_events.each do |event| -%>
      <li><%= event_replace(event, @today, list_style: "@title_link@") %></li>
      <%- end -%>
    </ul>
    <%- end -%>
  </div>
  <div>
    <%- unless @tomorrows_events.empty? -%>
    <ul>
      <%- @tomorrows_events.each do |event| -%>
      <li><%= event_replace(event, @tomorrow, list_style: "@title_link@") %></li>
      <%- end -%>
    </ul>
    <%- end -%>
  </div>
</div>
