<div class="adobeReader">
  <p>PDFの閲覧にはAdobe System社の無償のソフトウェア「Adobe Acrobat Reader」が必要です。下記のAdobe Acrobat Readerダウンロードページから入手してください。</p>
  <a href="http://get.adobe.com/jp/reader/" target="_blank" title="Adobe Acrobat Readerダウンロード">Adobe Acrobat Readerダウンロード</a>
</div>
