<!-- skip reading -->
<div id="cmsPreviewMark" style="margin: 1px; padding: 5px 10px; border-bottom: 1px solid #fff; background-color: #000; color: #fff; line-height: 1.5; font-family: sans-serif; cursor: pointer; " onclick="document.getElementById('cmsPreviewMark').style.display='none';">
プレビュー：&nbsp;終了する場合は、ブラウザのタブの×で閉じてください。
</div>
<!-- /skip reading -->
