<table class="show">
  <%- category_types.each do |category_type| -%>
  <tr>
    <th><%= category_type.title %></th>
    <td><%= item.categories.where(category_type_id: category_type.id).map(&:title).join(', ') %></td>
  </tr>
  <%- end -%>
</table>
