<%= render 'shared/admin/piece/show' do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :list_style %></th>
    <td><%=simple_format @item.setting_value(:list_style) %></td>
  </tr>
</table>
<%- end -%>
