<div>
  <div class="label1"><%= f.label :mobile_title %></div>
  <%= f.text_field :mobile_title, class: 'title', style: 'width: 500px;' %>
</div>
<div>
  <div class="label1"><%= f.label :mobile_body %></div>
</div>
<div>
  <%= f.text_area :mobile_body, class: 'body ckeditor' %>
</div>
