<%= render 'shared/admin/content/settings/form', f: f, item: @item -%>

<%= render 'gp_article/admin/shared/doc_style_tags' %>
<%= javascript_tag do %>
$(function() {
  $('a.show_dialog').on('click', function() {
    $('#doc_style_tags').dialog({width: 400});
    return false;
  });
});
<%- end -%>

<%- if @item.name == 'article_relation' -%>
<table class="show">
  <tr>
    <th>記事コンテンツ</th>
    <td><%= select_tag 'gp_article_content_doc_id',
                       options_from_collection_for_select(GpArticle::Content::Doc.where(site_id: Page.site.id), :id, :name,
                                                          @item.extra_values[:gp_article_content_doc_id]), include_blank: true %></td>
  </tr>
</table>
<%- end -%>
