<div class="crudTree">
<div class="tree">
  <p>コンセプト</p>
  <div class="links">
    <%= render 'concepts', items: @items, parent: nil %>
  </div>
</div>

<div class="content">
  <%= render 'contents' %>
</div>
<div class="footer"></div>
</div>

<script>
$(function() {
  $('.tree .links').simpleTree();
});
</script>
