<div class="contentGpArticleDocs">
  <div class="docs">
    <%- @items.each do |date, docs| -%>
      <h2 class="date"><%= date %></h2>
      <ul>
        <%- docs.each do |doc| -%>
          <li><%= doc_replace(doc, @content.list_style, @content.date_style, @content.time_style) %></li>
        <%- end -%>
      </ul>
    <%- end -%>
  </div>
</div>
