[Unit]
Description=delayed_job for ZOMEKI
After=postgresql-9.5.service

[Service]
Type=simple
User=zomeki
WorkingDirectory=/var/www/zomeki/
Environment=RAILS_ENV=production
SyslogIdentifier=zomeki_delayed_job
PIDFile=/var/www/zomeki/tmp/pids/delayed_job_master.pid
ExecStart=/usr/local/rbenv/shims/bundle exec bin/delayed_job_master -c config/delayed_job/production.rb
ExecStop=/bin/kill -QUIT $MAINPID
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy = multi-user.target