<table class="index" style="margin-bottom: 20px;">
  <tr>
    <th style="width: 100px;">組織</th>
    <td><%= button_to 'コピー', gp_category_content_settings_copy_groups_path, data: { confirm: 'コピーしてもよろしいですか？' } %></td>
  </tr>
</table>

<%= render 'shared/admin/content/settings/index', items: @items %>
