<%-
list_style = @content.list_style.delete_if { |style| style[:data] == '@marker_link@' }
-%>

<div class="contentMapMarkers">
  <%- unless @markers.empty? -%>
  <table>
    <thead>
      <tr>
      <%- list_style.each do |style| -%>
        <th scope="col"><%= style[:header].html_safe %></th>
      <%- end -%>
      </tr>
    </thead>
    <tbody>
      <%- @markers.each do |marker| -%>
        <%= marker_table_replace(marker, list_style) %>
      <%- end -%>
    </tbody>
  </table>
  <%- end -%>
  <%= paginate @markers %>
</div>
