<div id="doc_style_tags" title="置き換えテキスト" style="display: none;">
  <table>
    <tr>
      <th>講座タイトル</th><td>@title@</td>
    </tr>
    <tr>
      <th>サブタイトル</th><td>@subtitle@</td>
    </tr>
    <tr>
      <th>内容</th><td>@summary@</td>
    </tr>
    <tr>
      <th>定員</th><td>@total_number@</td>
    </tr>
    <tr>
      <th>受講料</th><td>@charge@</td>
    </tr>
    <tr>
      <th>備考</th><td>@remarks@</td>
    </tr>
    <tr>
      <th>開催日</th><td>@hold_date@</td>
    </tr>
    <tr>
      <th>開催場所</th><td>@place@</td>
    </tr>
    <tr>
      <th>講師名</th><td>@name@</td>
    </tr>
    <tr>
      <th>申込へのリンク</th><td>@link@</td>
    </tr>
    <tr>
      <th>カテゴリ</th><td>@category@</td>
    </tr>
  </table>
</div>
