<div class="mainMenu">
<%= render 'layouts/admin/cms/menu', current: :content %>
</div>

<div class="contentMenu">
<%= link_to "#{Reception::Course.model_name.human}一覧", reception_courses_path(content: @content), class: 'fixed' %>
<%= link_to "#{Reception::Course.model_name.human}設定", reception_content_settings_path, class: 'fixed' if @content.editable? -%>
</div>
