<%-
depth_limit ||= 1000
depth ||= 1
-%>
<ul>
  <%- categories.each do |category| -%>
    <li>
      <%= link_to category.public_uri do %>
        <span><%= category.title %></span>
        <%- if category.description.present? -%>
        <span class="category_summary"><%= category.description %></span>
        <%- end -%>
      <%- end -%>
      <%- if (children= category.public_children).present? && depth < depth_limit -%>
        <%= render 'gp_category/public/template_module/shared/_categories_summary',
                   categories: children, depth_limit: depth_limit, depth: depth + 1 %>
      <%- end -%>
    </li>
  <%- end -%>
</ul>
