.flatpickr-current-month {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
}
.flatpickr-current-month .numInputWrapper {
  order: 1
}
.flatpickr-current-month .cur-month {
  order: 2
}
