<%- if (approval_content = content.approval_content_approval_flow) -%>
  <%-
    approval_content.approval_flows.for_user(Core.user).each do |approval_flow|
      next if item.approval_requests.detect { |ar| ar.approval_flow_id == approval_flow.id }
      item.approval_requests.build(requester: Core.user, approval_flow: approval_flow, current_index: -1)
    end
  -%>
  <div>
    <div class="label1"><%= Approval::ApprovalFlow.model_name.human %></div>
    <%- if item.approval_requests.present? -%>
      <table class="approval noDesign">
      <%- item.approval_requests.each do |approval_request| -%>
        <%- approval_flow = approval_request.approval_flow -%>
        <tr>
          <td>
            <%= hidden_field_tag 'item[in_approval_flow_ids][]', approval_request.approval_flow.id, id: "item_in_approval_flow_ids_#{approval_flow.id}" %>
            <%= approval_flow.approvals.map { |approval|
              if approval.approval_type_select?
                render 'approval/admin/_partial/form_select', item: item, approval_request: approval_request, approval_flow: approval_flow, approval: approval
              else
                content_tag(:span, approval_request.approvers_label_at(approval.index), style: 'padding: 4px;')
              end
              }.join(" ＞ ").html_safe %>
          </td>
        </tr>
        <%- end -%>
      </table>
    <%- end -%>
  </div>
<%- else -%>
  <span class="note">承認フローが未設定です。使用する承認フローを設定してください。</span>
  <%= hidden_field_tag 'item[in_approval_flow_ids][]' %>
<%- end -%>
