<%-
return if item.inquiries.size == 0
return unless item.inquiries.any? { |inquiry| inquiry.visible? && inquiry.group }
-%>
<div class="inquiry">
  <div class="h2"><%= item.inquiry_title %></div>
  <%- item.inquiries.each do |inquiry| -%>
    <%= inquiry_replace(inquiry, item.inquiry_style) %>
  <%- end -%>
</div>
