<%-
return if item.inquiries.size == 0
return unless item.inquiries.any? { |inquiry| inquiry.visible? && inquiry.group }
-%>
<div class="inquiry">
  <h2><%= item.inquiry_title %></h2>
  <%- item.inquiries.each do |inquiry| -%>
    <%- next if !inquiry.visible? || inquiry.group.nil? -%>
    <address>
      <%= inquiry_replace(inquiry, item.inquiry_style) %>
    </address>
  <%- end -%>
</div>
