<%-
return if item.inquiries.size == 0
return unless item.inquiries.any? { |inquiry| inquiry.state_visible? && inquiry.group }
-%>
<div class="inquiry">
  <h2><%= inquiry_title(item.content) %></h2>
  <%- item.inquiries.each do |inquiry| -%>
    <%- next if !inquiry.state_visible? || inquiry.group.nil? -%>
    <address>
      <%= inquiry_replace(inquiry, inquiry_style(item.content)) %>
    </address>
  <%- end -%>
</div>
