<div class="surveyForms">
  <%- @forms.each do |form| -%>
  <%- next unless form.index_visible? -%>
  <div class="form">
    <h2 class="name">
      <%= content_tag_if !form.state_public?, :div, class: 'previewPublicItem' do %>
        <%= link_to form.title, form.public_uri %>
      <%- end -%>
    </h2>
    <%- if form.summary.present? -%>
      <div class="summary"><%=raw form.summary %></div>
    <%- end -%>
  </div>
  <%- end -%>
<!-- end .surveyForms --></div>
