<%-
opts1 = @item.sites.presence || [Core.site]
opts2 = Cms::Site.order(:id).all - opts1
-%>

<table class="noDesign">
  <tr>
    <td>
      <%= select_tag 'site_candidates', options_from_collection_for_select(opts2, :id, :name), multiple: true, style: ' width: 240px; height: 140px;' %>
    </td>
    <td>
      <input type="button" value="追加 →" id="add_sites" /><br /><br />
      <input type="button" value="← 除外" id="remove_sites" />
    </td>
    <td>
      <%= f.select :site_ids, options_from_collection_for_select(opts1, :id, :name), {}, multiple: true, style: 'width: 240px; height: 140px;' %>
    </td>
  </tr>
</table>

<script>
$(function() {
  $('form').simpleMultiSelect({
    source: '#site_candidates',
    destination: '#item_site_ids',
    add: '#add_sites',
    remove: '#remove_sites'
  });
});
</script>
