<div class="show">
  <div class="name">
    <div>受付番号</div>
    <div><%= token.seq_no %></div>
  </div>
  <div class="name">
    <div>参加日</div>
    <div><%= token.open.open_at_text if token.open %></div>
  </div>
</div>
