<div class="questions">
  <div class="question seq_no">
    <div class="question_content">受付番号</div>
    <div class="answer_content"><%= token.seq_no %></div>
  </div>
  <div class="question open_id">
    <div class="question_content">参加日</div>
    <div class="answer_content"><%= token.open.title if token.open %></div>
  </div>
</div>
