<h2>リンクチェック</h2>

<div class="actionMenu">
  <%= link_to 'リンクエラーをチェック', { action: :index }, method: :post %>
  <span class="separator"></span>
  <%= link_to '失敗のみ', { action: :index, only: 'failed' } %>
  <%= link_to '成功のみ', { action: :index, only: 'succeeded' } %>
  <%= link_to 'すべて', { action: :index, only: nil } %>
</div>
