<%- return '<br />'.html_safe unless Core.user -%>
<li><%= link_to Core.site&.name, main_app.cms_navi_sites_path, id: "currentNaviSite" %></li>
<li><%= link_to Core.concept&.name, '#', id: "currentNaviConcept" %></li>
