div.piace .piaceHeader {
  margin-bottom: 10px;
  padding: 1px;
  border-left: 5px solid #000;
  border-bottom: 1px solid #000;
}
div.piace .piaceHeader .title {
  padding: 5px 5px 5px 10px;
  font-size: 110%;
  font-weight: bold;
}
div.piace .piaceHeader a {
  font-size: 80%;
  font-weight: lighter;
  text-decoration: none;
}
div.piace .piaceBody {
  margin-bottom: 40px;
  padding: 0px 10px;
}
div.piace .piaceBody li {
  padding-left: 13px;
  background-image: url(images/ic_list.gif);
  background-position: left 5px;
  background-repeat: no-repeat;
}
div.piace ul .body {
  display: none;
  width: 90%;
  margin: 8px 0px;
  padding: 8px;
  border: 2px dashed #bbc;
  background-color: #fffff7;
}
div#roleErrors {
  color: #f00;
  padding: 10px 15px;
  border: 1px solid #e61400;
  margin: 15px 0px;  
}
