/* =========================================================
    Outline.
========================================================= */

/* Container
--------------------------------------------------------- */
#container {
  width: 100%;
  height: 100%;
}

/* Header
--------------------------------------------------------- */
#header {
  width: 100%;
  height: auto;
  padding: 0px;
  background-color: #ab0100;
  background-image: url(images/header_re.gif);
  background-position: left top;
  background-repeat: repeat-x;
}
#headerContainer {
  display: flex;
  flex-wrap: wrap;
}
#header h1 {
  flex: 0 0 280px;
}
#header h1 a {
  display: block;
  width: 280px;
  height: 60px;
  background-image: url(images/header_logo.gif);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  text-decoration: none;
  font-size: 0;
}
#header .menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 22px 10px 10px 0;
}
#header .menu * {
  margin: 0 22px 0 0;
  color: #fff;
  text-decoration: none;
}
#header .menu .web {
  flex: 0 0 auto;
}
#header .menu .logout {
  flex: 0 0 auto;
}

/* Navi
--------------------------------------------------------- */
#navi {
  height: 64px;
  padding: 15px 0 0 12px;
  background-color: #e5e5e5;
}
#navi::after {
  content: "";
  display: table;
  clear: both;
}
#navi .selector {
  float: left;
  width: 200px;
  margin: 0 20px 0 0;
}
#navi .selector li {
  margin: 0 0 10px;
}
#navi .selector .site select {
  width: 200px;
  margin: 6px 0px 0px 4px;
}
#navi .selector .concept {
  width: 200px;
  margin: 2px 0px 0px 4px;
}
#navi .mainMenu {
  display: flex;
  height: 32px;
  background-color: #000;
  overflow: auto;
}
#navi .mainMenu li {
  flex: 0 0 100px;
  margin: 0;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  #navi .mainMenu li {
    flex: 0 0 calc(100% / 9);
    margin: 0;
    text-align: center;
  }
}
#navi .mainMenu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 24px;
  padding: 8px 0 0 0;
}
#navi .mainMenu li a.current {
  background-color: #fff;
  color: #003295;
  font-weight: bold;
}
#navi .contentMenu {
  display: flex;
  height: 32px;
  background-color: #fff;
}
#navi .contentMenu li {
  flex: 0 0 auto;
  margin: 8px 0;
  padding: 0 20px;
  border-right: 1px dotted #000;
  text-align: center;
  height: 16px;
}
#navi .contentMenu li a {
  text-decoration: none;
  display: block;
  height: 24px;
}
#navi .contentMenu a.current {
  color: #CC3300;
}

/* Main
--------------------------------------------------------- */
#main {
}

/* Wrapper
--------------------------------------------------------- */
#wrapper {
}

/* Content
--------------------------------------------------------- */
#content {
  margin: 20px 12px 0px 12px;
}
#content h2 {
  margin: 15px 0px 15px 5px;
  color: #000;
  font-size: 120%;
  font-weight: bold;
}
#contentHeader h2 {
  padding-left: 8px;
  border-left: 3px solid #000;
}
#content .noticeBox {
  margin: 15px 0px;
  padding: 10px;
  border: 1px solid #4b4;
}
#content .actionMenu {
  margin: 10px 0px 15px 0px;
  vertical-align: bottom;
}
#content .actionMenu span {
  display: inline-block;
  margin: 0px 4px 0px 8px;
  padding: 4px 1px;
}
#content .actionMenu span.separator {
  display: inline-block;
  margin: 0px 4px 0px 2px;
  border-left: 1px solid #ccc;
}
#content .actionMenu a {
  display: inline-block;
  margin: 0px 2px;
  padding: 8px 18px;
  border: 1px solid #bbb;
  -webkit-box-shadow: #ddd 0px 1px 2px;
  -moz-box-shadow: #ddd 0px 1px 2px;
  box-shadow: #ddd 0px 1px 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fdfdfd));
  background-image: -webkit-linear-gradient(#ffffff, #fdfdfd);
  background-image: -moz-linear-gradient(#ffffff, #fdfdfd);
  background-image: -ms-linear-gradient(#ffffff, #fdfdfd);
  background-image: -o-linear-gradient(#ffffff, #fdfdfd);
  background-image: linear-gradient(#ffffff, #fdfdfd);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#fdfdfd);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#fdfdfd')";
  _background-color: #fff;
  behavior: url(/_common/js/PIE.htc);
  position: relative;
  text-decoration: none;
  color: #000;
}
#content .actionMenu a:hover,
#content .actionMenu a:focus,
#content .actionMenu a.current {
  background-color: #fce1de;
  background-image: none !important;
}
#content .navi {
  margin: 10px 0px 10px 0px;
  padding: 0px 4px;
  border: 1px solid #ccc;
  background-color: #ededed;
  line-height: 2.0;
}
#contentContainer {
}
#contentHeader {
  margin-bottom: 15px;
}
#contentHeader .navi {
  padding: 0px 10px;
}
#contentHeader .navi a {
  display: inline-block;
  padding: 0px 2px;
  text-decoration: none;
}
#contentHeader .navi span.separator {
  margin: 0px 4px;
}
#contentBody {
}


/* Menu
--------------------------------------------------------- */
#menu {
  display: none;
}
#menuContainer {
  margin: 4px;
  border: 1px solid #ccc;
}

/* Footer
--------------------------------------------------------- */
#footer {
  clear: both;
}
#footerContainer {
  padding: 20px 0px;
}
