@charset "UTF-8";

/* =========================================================
　　Fix Layout 1 Columns
========================================================= */

/* nav
----------------------------------------------- */
#pageNav {
  margin-bottom: 15px;
}

/* main
----------------------------------------------- */
#container {
  overflow-x: hidden;
}
#main {
  width: 100%;
  margin: 0;
}

/* wrapper
----------------------------------------------- */
#wrapper {
  clear: both;
  width: 100%;
}

/* content
----------------------------------------------- */
#content {
  margin: 0px;
}

