<table class="show">
  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name, :class => 'id' %></td>
  </tr><tr>
    <th><%= f.label :title %></th>
    <td><%= f.text_field :title, :class => 'name' %></td>
  </tr>
</table>
