<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>title</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <%- request.flash.discard(:notice) -%>
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <%- request.flash.discard(:alert) -%>
  <% if flash[:alert] %><div class="alert"><%= flash[:alert] %></div><% end %>

  <%= yield %>
</body>
</html>
