<%= render 'shared/admin/piece/form', f: f do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= f.label :in_category_type_ids %></th>
    <td><%= f.collection_check_boxes :in_category_type_ids, @item.category_types_for_option, :last, :first %></td>
  </tr>
</table>
<%- end -%>
