<%- if category -%>
<h3><%= category.title %></h3>
<%- end -%>

<table border="1">
  <%- @events.each_with_index do |event, i|
  next if (category.nil? && event.categories.present?) ||
          (category && !category.in?(event.categories))  -%>
  <%- if i == 0 -%>
  <thead>
    <tr>
    <%- @content.today_list_style.each do |header| -%>
      <th><%= header[:header].html_safe %></th>
    <%- end -%>
    </tr>
  </thead>
  <%- end -%>
  <tbody>
      <%= event_table_replace(event, @content.today_list_style) %>
    <%- end -%>
  </tbody>
</table>