<div class="contentGpCategory contentGpCategoryCategory">
  <%- unless @docs.empty? -%>
  <section class="category">
    <div class="docs">
      <%- if @content.feed_display? -%>
      <ul class="feed">
        <li><%= link_to 'RSS' , "index.rss" , :class => 'feedRss', :title => 'RSSフィードを取得' %></li>
        <li><%= link_to 'Atom', "index.atom", :class => 'feedAtom', :title => 'Atomフィードを取得' %></li>
      </ul>
      <%- end -%>
      <ul>
        <%- @docs.each do |doc| -%>
        <li><%= doc_replace(doc, @template_module ? @template_module.doc_style : @content.category_doc_style, @content.date_style) %></li>
        <%- end -%>
      </ul>
    </div>
  </section>
  <%- end -%>

  <%= paginate @docs %>
</div>
