<%
return unless Core.user.has_auth?(:manager)

groups = Core.site.groups_for_option
users = Core.site.users_for_option
users += [[Core.user.name_with_account, Core.user.id]] unless users.detect { |u| u[1] == Core.user.id }

if item.creator.blank?
  item.build_creator(
    group_id: groups.detect { |g| g[1] == Core.user_group.id } ? Core.user_group.id : groups.first.try(:last),
    user_id: Core.user.id
  )
end

%><br />

<p class="managerForm">作成者</p>

<%= f.fields_for :creator do |f2| %>
<table class="show">
  <tr class="onlyManager">
    <th>グループ</th>
    <td><%= f2.select :group_id, groups, include_blank: true %></td>
  </tr>
  <tr class="onlyManager">
    <th>ユーザー</th>
    <td><%= f2.select :user_id, users, include_blank: true %></td>
  </tr>
</table>
<%- end -%>
