<%
return unless Core.user.has_auth?(:manager)

groups = Core.site.groups_for_option
users = Core.site.users_for_option

root_user = Sys::User.root
root_group = root_user.groups.first
groups += [[root_group.name, root_group.id]] unless groups.detect { |g| g[1] == root_group.id }
users += [[root_user.name_with_account, root_user.id]] unless users.detect { |u| u[1] == root_user.id }

if item.creator.blank?
  if Core.user.root?
    item.build_creator(
      group_id: groups.first.try!(:last),
      user_id: Core.user.id
    )
  else
    item.build_creator(
      group_id: Core.user_group.id,
      user_id: Core.user.id
    )
  end
end

%><br />

<p class="managerForm">作成者</p>

<%= f.fields_for :creator do |f2| %>
<table class="show">
  <tr class="onlyManager">
    <th>グループ</th>
    <td><%= f2.select :group_id, groups, include_blank: true %></td>
  </tr>
  <tr class="onlyManager">
    <th>ユーザー</th>
    <td><%= f2.select :user_id, users, include_blank: true %></td>
  </tr>
</table>
<%- end -%>
