<%
return unless Core.user.has_auth?(:manager)

if Core.user.root?
  groups = Core.site.all_groups_for_option
  users = Core.site.all_users_for_option
else
  groups = Core.site.groups_for_option
  users = Core.site.users_for_option
end

if item.creator.blank?
  item.build_creator(
    group_id: Core.user_group.id,
    user_id: Core.user.id
  )
end

%><br />

<p class="managerForm">作成者</p>

<%= f.fields_for :creator do |f2| %>
<div class="onlyManager">
  <div class="label1">グループ</div>
  <%= f2.select :group_id, groups, include_blank: true %>
</div>
<div class="onlyManager">
  <div class="label1">ユーザー</div>
  <%= f2.select :user_id, users, include_blank: true %>
</div>
<%- end -%>
