<table class="show">
  <tr>
    <th>ファイル名</th>
    <td><%= f.text_field :name, class: "nameEn" %></td>
  </tr>
</table>

<%- if @item.text_file? -%>
<p class="form">ファイル内容</p>
<table class="show">
  <tr>
    <td><%= f.text_area :body, class: 'body pre monospace', style: "height: 400px;" %></td>
  </tr>
</table>
<%- end -%>
