<h2><%= image_tag '/_common/themes/admin/images/login_logo.gif', alt: 'ZOMEKI' %></h2>
<p class="version">Ver.<%= Zomeki.version %></p>
<%- if flash[:notice] -%><div class="notice"><%=raw flash[:notice] %></div><%- end -%>
<%- if flash[:alert] -%><div class="alert"><%=raw flash[:alert] %></div><%- end -%>
