<% if @content.doc_related? && @content.doc_relation_doc.present? && @item.public_related_docs.present? %>
<div class="rels">
  <h2>関連記事</h2>
  <ul>
    <%- @item.public_related_docs.each do |doc| -%>
    <li><%= doc_replace doc, @content.rel_docs_style, @content.date_style, @content.time_style %></li>
    <%- end -%>
  </ul>
</div>
<%- end -%>
