<div class="contentGpArticleDocs">
  <div class="docs">
    <% @items.each_with_index do |item, idx| %>
    <%- if item[:date] -%>
    <div class="h2 date"><%= item[:date] %></div>
    <%- end -%>
    <div class="doc">・<%= doc_replace(item[:doc], @content.list_style, @content.date_style) %></div>
    <%- end -%>
  </div>
  <%= paginate @docs %>
</div>
