<div class="contentGpArticleDocs">
  <div class="docs">
    <% @items.each do |date, docs| %>
      <div class="h2 date"><%= date %></div>
      <%- docs.each do |doc| -%>
      <div class="doc">・<%= doc_replace(doc, @content.list_style, @content.date_style, @content.time_style) %></div>
      <%- end -%>
    <%- end -%>
  </div>
  <%- if @content.simple_pagination? -%>
  <%= paginate @docs, {prev_label: @content.prev_label, next_label: @content.next_label} %>
  <%- else -%>
  <%= period_pagination @prev_doc, @next_doc, Page.current_node, {prev_label: @content.prev_label, next_label: @content.next_label} if @docs.present?%>
  <%- end -%>
</div>
